############################################
# ===== GENERAL =====
############################################
.DS_Store
Thumbs.db

############################################
# ===== .NET =====
############################################
bin/
obj/
out/

*.user
*.suo
*.userosscache
*.sln.docstates

# VS folder
.vs/

# Rider
.idea/

############################################
# ===== NODE / VUE / VITE =====
############################################
node_modules/
dist/
coverage/

npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

############################################
# ===== ENV FILES =====
############################################
.env
.env.*
!.env.example

############################################
# ===== DATABASE =====
############################################
*.mdf
*.ldf

############################################
# ===== OS =====
############################################
Desktop.ini