############################################
# ===== .NET BACKEND =====
############################################
**/bin/
**/obj/
**/out/

# Chặn file cá nhân nhưng KHÔNG chặn file dự án
*.user
*.suo
*.userosscache

# QUAN TRỌNG: Chặn thư mục .vs nhưng ép Git phải giữ file .slnx
.vs/
!*.slnx
!*.sln

############################################
# ===== ANGULAR FRONTEND =====
############################################
**/node_modules/
**/.angular/cache/
**/dist/
.tsbuildinfo

############################################
# ===== MÔI TRƯỜNG & OS =====
############################################
.env
.env.*
!.env.example
.DS_Store
Thumbs.db
Desktop.ini
