############################################
# ===== .NET BACKEND (C#) =====
############################################
# Chặn các thư mục biên dịch (build)
**/bin/
**/obj/
**/out/

# Chặn file cấu hình cá nhân của người dùng
*.user
*.suo
*.userosscache
*.sln.docstates

# CHẶN THƯ MỤC .VS NHƯNG GIỮ FILE SOLUTION (.slnx)
.vs/
!*.slnx
!*.sln

# BẢO VỆ APPSETTINGS (Đảm bảo không bị mất khi pull/merge)
!appsettings.json
!appsettings.*.json

############################################
# ===== ANGULAR FRONTEND =====
############################################
**/node_modules/
**/.angular/cache/
**/dist/
.tsbuildinfo

############################################
# ===== DATABASE & ENV & OS =====
############################################
# Database tạm
*.mdf
*.ldf

# Môi trường
.env
.env.*
!.env.example

# File hệ thống
.DS_Store
Thumbs.db
Desktop.ini